In [1]:
import pandas as pd
import dateparser
from timexseries.data_ingestion import add_freq

from collections import Counter

In [38]:
def add_freq_new(df, freq=None) -> pd.DataFrame:
    local_df = df.copy()

    # Check if df has a DatetimeIndex. If not, return without doing anything.
    try:
        i = local_df.index.freq
    except:
        return local_df

    # Df has already a freq. Don't do anything.
    if local_df.index.freq is not None:
        return local_df

    # We have to find a frequency for df.
    if freq is None:

        portions = 1
        index = local_df.index.to_numpy()
        
        while freq is None and portions < (len(local_df) / 2):
            freqs = [pd.infer_freq(portion) for portion in np.array_split(index, portions)]
            print(freqs)
            freqs = [f for f in freqs if f is not None]  # Filter out None
            c = Counter(freqs)
            if len(freqs) == 1:
                freq = c.most_common()[0][0]
            elif len(freqs) > 1:
                if c.most_common()[0][0] > c.most_common()[1][0]:
                    freq = c.most_common()[0][0]
                
            portions += 1

        if freq is None:
            log.warning(f"No discernible frequency found for the dataframe.")
            freq = "D"

        local_df = local_df.asfreq(freq=freq)
        return local_df

In [39]:
Counter([])

Counter()

In [40]:
def load_ts(path):
    df = pd.read_csv(path)
    index = df.columns[0]
    df[index] = df[index].apply(lambda x: dateparser.parse(x))
    df.set_index(index, inplace=True, drop=True)

    df = df[~df.index.duplicated(keep='last')]
    if not df.index.is_monotonic_increasing:
        print(f"Dataframe is not ordered. Ordering it...")
        df = df.sort_index()
    return df

In [63]:
df = load_ts('Test7.csv')

In [64]:
add_freq(df)

No discernible frequency found for the dataframe.

            Ultimo
Data
2021-01-08  1.9550
2021-01-09     NaN
2021-01-10     NaN
2021-01-11     NaN
2021-01-12     NaN
...            ...
2023-04-17     NaN
2023-04-18     NaN
2023-04-19     NaN
2023-04-20     NaN
2023-04-21  2.4845

[834 rows x 1 columns]

In [65]:
add_freq_new(df)

[None]
[None, None]
[None, None, None]
[None, None, None, None]
[None, 'W-FRI', None, 'W-FRI', None]

IndexError: list index out of range

In [59]:
l = [None, 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H']
counter = Counter(l)

In [60]:
counter.most_common()[0][0]

'H'

In [48]:
counter.most_common()

[('H', 9), (None, 1)]

In [53]:
len(counter)

2

In [62]:
7 // 3

2